* {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box; /*Evitar que os elementos aumente de tamanho inesperadamente facilitando o controle da responsividade*/

  list-style: none;
  

}

.cabecalho {
    background-color: rgb(10, 39, 2);
    color: white;
    padding: 1.5rem; /*poderia ser 24px*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    position: sticky;
    left: 0;
    top: 0;
    z-index: 999;

    
}

 /* Logo do Header */
.div-logo img {
    width: 30%;  /*usando o % para diminuir seu tamanho*/
}
/* estilização do botão header */
.div-button a button {
    width: 5rem; /*poderia ser 80 px*/
    padding: 0.5rem; /*8px - preenchimento*/
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    
}

.section-01 {
    padding: 9rem; /*preenchimento interno da section*/
    background-image: url(imagem/fundoo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem; /*poderiamos usar 32px*/
    flex-wrap: wrap; /*Isso significa que as div poderão quebrar de linha, caso necessario*/
}

.div01 {
    background-color: rgba(240, 255, 255, 0.671);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    width: 25%;
    height: 20rem;
    min-width: 299px;
}

.div02 {
    padding: 1rem; 
    width: 25%;
    height: 20rem;
    min-width: 299px;
    background: linear-gradient(180deg, rgba(0, 83, 0, 0.363) 8.33%, rgba(248, 248, 248, 0.171) 100%), url(imagem/div.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items:  end;
    justify-content: end;
    flex-direction: column;
    gap: 15px;
    
  

}

.ul-div01 li a {
    text-decoration: none;
    background-color: rgb(1, 44, 1);
    color: white;
    padding: 2px;
    font-size: 1.2rem;
    border-radius: 5px;
}

.ul-div01 li {
    margin: 5px 5px; /*alterando os 4 lados externos dos elementos, primeiro valor (superior e inferior) e segundo valor é (esquerda e direita)*/
}

.img-div {
    padding: 1%;
    background-image: url(imagem/textura\ green.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.section-02, .section-04{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1.5rem;
   padding: 5rem;
   background-color: rgb(0, 0, 0);
}

.caixa {
    width: 25%;
    height: 22rem;
    background-color: rgb(1, 39, 1);
    min-width: 299px;
    font-size: 1.2rem;
    color: white;
    box-shadow: 10px 10px 20px rgb(14, 51, 14);
    
}

.caixa:hover {
    box-shadow: 12px 12px 22px rgb(10, 182, 10);
    transition: 0.8s;
}

.div03, .div04 {
    height: 15rem;
    text-align: center;
}

.section-03 {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
   padding: 5rem ;
   background-color: black;
   flex-wrap: wrap;
}

.content-text {
    text-align: start; /*Alinhando os textos ao inicio*/
    margin: 1rem; /*espaçamento em torno da caixa*/
    color: aliceblue; /*cor do texto*/
    font-weight: 500;/*peso da font*/

}

.icon-div03 {
    color: rgb(155, 152, 152); /*cores do icon*/
    font-size: 3rem; /*tamanho dos icon*/
    margin-top: 1.2rem;/*espaçamento superior dos icon */
}

/* inicio formatação caixa 02 da section03 */

.button-div04 a button {
    padding: 0.5rem;
    background-color: aliceblue;
    color: black;
    font-weight: 600;
    margin: 1rem 0;
}

.text-div04 p {
    color: aliceblue;
}

.batata {
    background-color: rgb(255, 255, 255);
    color: black;
}